extends layout

block content
  h1= title
  p Welcome to #{title}
  .ceva
    each val in vect
      .wrap
        .nr #{val.Nr} 
        .items(onclick="location.href=/id=#{val._id}")
          a(href='/id=#{val._id}') #{val.Criteriu}